  <html>
  <head></head>
  <body>
    <h1> Library </h1>
    <form action="/search" method="get">
      <input type="text" id="query" name="query"/>
      <input type=submit value=Search>
      <input type=submit value=Add a book
        formaction="/add">
    </form>
  <p> There are currently <b><%= @total_books %></b> books in the library. </p>
  </body>
  </html>
