  <html>
  <head></head>
  <body>
    <h1><%= @heading %></h1>
    <form action="/search" method="get">
      <input type="text" id="query" name="query"/>
      <button>Search</button> 
    </form>
  </body>
  </html>
