<html>
  <head></head>
  <body>
    <form action="/search" method="get">
      <input type="text" id="query" name="query" />
      <input type="submit" id="submit" value="Search" />
    </form>
  </body>
</html>
