<html>
  <head></head>
  <body>
    <form method="post">
      <input type="text" id="query" name="booktitle" />

      <button id="search">Search</button>

    </form>

	<a href="/add">Add a book</a>

  </body>
</html>
